#canvas {
  background: #fff;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}
ul,li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}

.actions {
  position: fixed;
  top: 10px;
  left: 10px;
}
.actions>svg {
  margin: 10px;
  transition: all 0.3s;
}
.actions svg.action {
  fill: red;  
  transform: scale(1.3);
}
.icon {
  width: 1.5em; 
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.color {
  position: fixed;
  top: 50px;
  left: 20px;
}
.color>li {
  width: 20px;
  height: 20px;
  margin: 16px 0;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}
.color>li.active{
  transform: scale(1.3);
}
.color>li.red {
  background: red;
}
.color>li.green {
  background: green;
}
.color>li.blue {
  background: blue;
}
.color>li.yellow {
  background: yellow;
}
.color>li.pink {
  background: pink;
}
.color>li.purple {
  background: purple;
}
.color>li.gray {
  background: gray;
}
.sizes {
  position: fixed;
  top: 0px;
  right: 20px;
}
.sizes>li {
  margin: 20px 0;
  font-size: 12px;
}
#size1 {
  height: 0;
  width: 24px;
  border-top: 1px solid black;
}
#size2 {
  height: 0;
  width: 24px;
  border-top: 2px solid black;
}
#size3 {
  height: 0;
  width: 24px;
  border-top: 3px solid black;
}
#size4 {
  height: 0;
  width: 24px;
  border-top: 4px solid black;
}
#size5 {
  height: 0;
  width: 24px;
  border-top: 5px solid black;
}