body {
  background: #efefef;
  position: relative;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
ul {
  list-style: none;
}
.banner {
  height: 515px;
  background-image: url(./img/190517.jpg);
  background-size: cover;
}

 header {
  padding: 20px 16px;
  position: absolute;
  width: 100%;
  top: 0px;
  transition: all 0.5s;
}
.mask {
  background-color: rgba(0, 0, 0, 0.6);
  height: 515px;
  width: 100%;
}
header .logo {
  font-family: "Arial Black";
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 4px;
  float: left;
}
header.sticky {
  position: fixed;
  top: 0; 
  left: 0;
  background: #efefef;
  padding: 10px 16px; 
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.sticky ul>li>a {
  color: #3d4451;
}
.logo .rs {
  color: #e6686a;
  margin-right: 4px;
}
.logo .card {
  color: #9A9DA2;
}

header nav {
  float: right;
  font-size: 12px;
}
header nav a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  padding: 10px 0 4px 0;
}
nav ul>li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
}
nav > ul > li.active > a::after { 
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e06567;
  height: 3px;
  animation: menuSlide .3s;
}
@keyframes menuSlide{
  0%{ width: 0; }
  100%{ width: 100%; }
}
header .submenu{
  display: none;
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
  background: #fff;
  color: #3d4451;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
li.active> .submenu{
  display: block;
  animation: submenuSlide .3s;
}
@keyframes submenuSlide{
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}
.submenu > a {
  color: #3d4451;
  white-space: nowrap;
  padding: 8px 10px;
}
.submenu > a:hover {
  background: #ccc; 
}
.cards {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.pictureAndText {
  padding: 50px;
}
.picture {
  float: left;
}
.profile {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.profile dl dt {
  width: 30%;
  float: left;
  font-weight: bold;
}
.profile dl dd {
  width: 70%;
  float: right;
  color: #9da0a7;
  display: block;
}
.profile dd,.profile dt {
  padding: 5px 0;
}
.profile h1 {
  margin-top: 18px;
  
}
.profile hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
  margin: 20px 0;
}

.welcome {
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.welcome .triangle {
  display: inline-block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.media a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.media {
  background: #E6686A;
  text-align: center;
}
.media .iconfont {
  display: inline-block;
  font-size: 26px;
  color: white;
  vertical-align: top;
}
.media > a:hover {
  background: #CF5D5F;
}
body > main {
  margin-top: -420px;
  padding-top: 80px;
}
body > main .button {
  font-size: 16px;
  line-height: 18px;
  padding: 20px 50px;
  text-align: center;
  border: 1px solid #cdcfd1;
  background: #efefef;
  display: inline-block;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.2s;
}

body > main .button:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
body > main > p {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}
.selfIntroduction {
  max-width: 940px;
  margin: 0 auto;
  font-family: kai;
  line-height: 1.8;
  font-size: 18px;
}

section {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 80px;
}
section>h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
.skills h3 {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
.skills > ol {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 42px 50px 10px;
  margin-top: 30px;
}
.skills > ol > li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}
.skills> ol > li:nth-child(even) {
  float: right;
}

.skills .progressBar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0 40px;
}
.progressBar > .progress {
  height: 100%;
  background: #E6686A;
  width: 70%;
  border-radius: 2px;
}

.portfolio {
  text-align: center;
  margin-bottom: 100px;
}
.portfolio > nav > ol {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
.portfolio > nav > ol > li {
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
.portfolio > nav > ol > li:first-child {
  margin-left: 0;
}
.portfolio > nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}
.portfolio > nav .bar {
  height: 5px;
  background: white;
  margin-top: 5px;
  margin-bottom: 28px;
  border-radius: 2px;
}
.portfolio > nav .bar-inner {
  height: 100%;
  background: #E6686A;
  border-radius: 2px;
  transition: all 0.4s;
}
.portfolio > nav .bar.state-1 .bar-inner {
  margin-left: 0;
  width: 31px;
}
.portfolio > nav .bar.state-2 .bar-inner {
  margin-left: 73px;
  width: 31px;
}
.portfolio > nav .bar.state-3 .bar-inner {
  margin-left: 145px;
  width: 90px;
}
.portfolio .works {
  position: relative;
  height: 597px
}
.portfolio .works > .big,
.portfolio .works > .small {
  position: absolute;
}