*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
*::after{
  box-sizing: border-box;
}
*::before{
  box-sizing: border-box;
}
body {
background: rgba(255, 192, 203, 0.2);
}
.code-wrapper{
  height: 200px;
  padding: 10px;
  background: #2a2a2a;
  color: #fff;
}
#main{
  margin: 40px auto;
  width: 200px;
  height: 360px;
}
#code{
  overflow: hidden;
  height: 100%;
}
.actions{
  position: absolute;
  right: 4px;
  top: 24px;
  display: flex;
  flex-direction: column;
}
.actions>button{
  margin: 8px;
  background: rgb(250,230,90,0.8);
  padding: 8px 10px;
  border: none;
  border-radius: 2px;
}
.actions>button.active{
  box-shadow: 1px 1px 1px rgba(250,230,90,0.8);
}
.actions>button:focus{
  outline: none;
}



